# Ignore all files in the data folder
/Data/
/100data/
/fooof_results/
/ecg_clean_filtered/
/heart_rate_annotation/
/heart_rate_neurokit/
.DS_store

# Ignore all pdf files
*.pdf
*.csv
# Ignore specific file types
process_all_fft_parallel.py
process_all_fft.py
rythmExclusion.csv
Showcase.ipynb
test.py
visualize_global_time_series_absorption.py
fooof_results_all_subjects_serial.pkl
fooof_results.pkl


#environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/myenv/
